<div class="col-12">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.Nom}}" name="nom">
  <label for="floatingInput">Nom</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.Prix}}" name="prix">
  <label for="floatingInput">Prix DA</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.Dosage}}" name="dosage">
  <label for="floatingInput">Dosage</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput" value="{{this.DF}}"  name="df">
  <label for="floatingInput">Date de fabrication</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <input type="date" class="form-control" id="floatingInput" value="{{this.DE}}"  name="de">
  <label for="floatingInput">Date d'expiration</label>
</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" value="{{this.Description}}"  name="description">
  <label for="floatingInput">Description</label>
</div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>